<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Attendance Predictor</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <script type="text/javascript" src="../static/json/JSON_Data.json" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <i class="fa fa-bars"></i>
          </button>

          <div style="margin-top: 20px;color:black;">
            <h3><b>Smart Scheduling Predictor</b></h3>  
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../static/images/face0.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">chirasree.sarkar</p>

                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#"> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="fa fa-compress" id="fullscreen-button"></i>
              </a>
            </li>            
          </ul>
          
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard')}}">
                <span class="menu-title"><b>Dashboard</b></span>
                <i style="padding-left: 10px" class="fa fa-home"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('schedule')}}">
                <span class="menu-title"><b>Schedule</b></span>
                <i style="padding-left: 10px" class="fa fa-calendar"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('appointment')}}">
                <span class="menu-title"><b>Schedule Interview</b></span>
                <i style="padding-left: 10px" class="fa fa-clipboard"></i>
              </a>              
            </li>    
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
           
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="fa fa-calendar"></i>
                </span> <b>Schedule Candidate</b> </h3>
              
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"><b>Scheduling Information</b></h4>
                    <hr>
                    <form class="forms-sample" action="{{ url_for('submit')}}"method="post">
                      <div class="form-group row">
                        <label for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Name" id="Name" placeholder="Name">
                        </div>
                      </div>
                      <p style="display: none; color: red" id="error"> This candidate has not been scheduled for interview </p>
                      <div class="form-group row">
                        <label for="exampleSelectGender" class="col-sm-2 col-form-label">Skill</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="Skill" name="Skill">
                            <option>Select</option>
							<option value="SAP SF EC">SAP SF EC</option>
							<option value="SAP SF Comp">SAP SF Comp</option> 
							<option value="SAP SF LMS">SAP SF LMS</option>							
							<option value="SAP SF PMGM">SAP SF PMGM</option>
							<option value="SAP CPI">SAP CPI</option>                           						
                            <option value="Data Migration">Data Migration</option>    							
                          </select>
                        </div>
                      <!--</div>
                      <div class="form-group row">
                        <label for="Provider" class="col-sm-2 col-form-label">Provider</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="Provider" name="Provider">
                            <option value="select">Select</option>
                            <option value="provider1">Provider1</option>
                            <option value="provider2">Provider2</option>
                            <option value="provider3">Provider3</option>
                          </select>
                        </div>-->
                      </div>
					  <div class="form-group row">
                        <label for="Scheduler" class="col-sm-2 col-form-label">Scheduler</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Scheduler" id="Scheduler" placeholder="Scheduler">
                        </div>
                      </div>
                      <!--<div class="form-group row">
                        <label for="Age" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Age" id="Age" placeholder="Age">
                        </div>
                      </div>-->
					  <div class="form-group row">
                        <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Gender" id="Gender" placeholder="Gender">
                        </div>
                      </div>
					  <div class="form-group row">
                        <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Phone" id="Phone" placeholder="Phone">
                        </div>
                      </div>
					  <!--<div class="form-group row">
                        <label for="Last Reminder" class="col-sm-2 col-form-label">Last Reminder Date</label>
                        <div class="col-sm-9">
                          <input type="Date" class="form-control" name="Last Reminder" id="LastReminder" placeholder="Last Reminder">
                        </div>
                      </div>-->
					  <div class="form-group row">
                        <label for="Job Location" class="col-sm-2 col-form-label">Job Location</label>
                        <div class="col-sm-9">
						<select class="form-control" id="Job Location" name="Job Location">
                            <option>Select</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Chennai">Chennai</option>    
							<option value="Gurgaon">Gurgaon</option>
							<option value="Hyderabad">Hyderabad</option>
							<option value="Mumbai">Mumbai</option> 							
							<option value="Pune">Pune</option> 
							<option value="Kolkata">Kolkata</option>   
                         </select>
                         <!-- <input type="text" class="form-control" name="Job Location" id="Job Location" placeholder="Job Location">-->
                        </div>
                      </div>
					  <div class="form-group row">
                        <label for="Native Location" class="col-sm-2 col-form-label">Native Location</label>
                        <div class="col-sm-9">
						<select class="form-control" id="Native Location" name="Native Location">
                            <option>Select</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Chennai">Chennai</option>    
							<option value="Gurgaon">Gurgaon</option>
							<option value="Hyderabad">Hyderabad</option>
							<option value="Mumbai">Mumbai</option> 							
							<option value="Pune">Pune</option> 
							<option value="Kolkata">Kolkata</option>  
                         </select>
                        <!--  <input type="text" class="form-control" name="Native Location" id="Native Location" placeholder="Native Location">-->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Schedule" class="col-sm-2 col-form-label">Schedule Date</label>
                        <div class="col-sm-9">
                          <input type="Date" class="form-control" name="Schedule Date" id="Schedule" placeholder="Schedule Date">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Interview" class="col-sm-2 col-form-label">Interview Date</label>
                        <div class="col-sm-9">
                          <input type="Date" class="form-control" name="Interview Date" id="Interview" placeholder="Interview Date">
                        </div>
                      </div>
                      <!--<div class="form-group row">
                        <label for="sms" class="col-sm-2 col-form-label">SMS Received</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="Sms Received" id="sms" placeholder="Sms Received">
                        </div>
                      </div>-->
                      <div>
                        <div class="form-group row" >
                          <label for="Confirmation" class="col-sm-2 col-form-label">Confirmation</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="Confirmation" name="Confirmation">
                              <option>Select</option>
                              <option value="1">Yes</option>
                              <option value="0">No</option>                            
                            </select>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div> -->
                      <!-- <div class="form-group row">
                        <label for="exampleInputCity1" class="col-sm-2 col-form-label">Diabetes</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                        </div>
                      </div> -->
                      <!-- <div class="form-group">
                        <label for="exampleTextarea1">Textarea</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                      </div> -->
                      <!-- <button type="submit" formaction="{{ url_for('submit')}}"method="post" class="btn btn-gradient-primary mr-2">Submit</button> -->
                      <button type="submit" class="btn btn-gradient-success mr-2" id="showProbability">Show Probability</button>
                      <div style="text-align: center; color: red; font-weight: bolder; margin-top: -20px;">
                        <p>{{prediction_text }}</p> 
                        <div id="candname" style="display: none;">{{candidate_name}}</div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
           
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
           
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/vendor.bundle.base.js"></script>
    <script src="../static/js/misc.js"></script>
    <script src="../static/js/appointment.js"></script>
    <!-- End custom js for this page -->
   </script>
        <script type="text/javascript">
        document.onkeydown = function (cc) {
        if(cc.which == 85){
        return false;
        }
        }
    </script>
    <script>jQuery(document).ready(function(){
        jQuery(function() {
        jQuery(this).bind("contextmenu", function(event) {
            event.preventDefault();
            alert('Right click disable in this site!!')
        });
        });
        });
    </script>	    
   
  </body>
</html>
