<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Interview Attendance Predictor</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" />

    <script src="https://code.highcharts.com/highcharts.js"></script>>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>

    <script type="text/javascript" src="../static/json/JSON_Data.json" crossorigin="anonymous"></script>

   

    <style type="text/css">
        body{
          overflow-y: hidden;          
        }
       table { 
            width: 100%;  
        } 
        table tbody, table thead { 
            display: block; 
        }            
        thead tr th { 
            height: 40px;  
            line-height: 40px; 
        }           
        table tbody {                
            max-height: 400px;  
            overflow-y: auto; 
            overflow-x: hidden;  
        }         
        tbody td, thead th { 
            min-width : 150px; 
        }         
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
         
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <i class="fa fa-bars"></i>
          </button>

          <div style="margin-top: 20px; color:black;">
            <h3><b>Smart Scheduling Predictor</b></h3>  
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../static/images/face0.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">chirasree.sarkar</p>

                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#"> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <!-- <a class="nav-link">
                <i class="fa fa-compress" id="fullscreen-button"></i>
              </a> -->              
              <div id="todayDate" style="float: right; color: black; font-weight: bold;"></div>
            </li>            
          </ul>
          
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard')}}">
                <span class="menu-title"><b>Dashboard</b></span>
                <i style="padding-left: 10px" class="fa fa-home"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('schedule')}}">
                <span class="menu-title"><b>Schedule</b></span>
                <i style="padding-left: 10px" class="fa fa-calendar"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('appointment')}}">
                <span class="menu-title"><b>Schedule Interview</b></span>
                <i style="padding-left: 10px" class="fa fa-clipboard"></i>
              </a>              
            </li>            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">          
          <div class="content-wrapper">  

            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                 <i class="fa fa-home"></i>
                </span> <b>Monthly Scheduling Metrices</b>
              </h3>
              <nav aria-label="breadcrumb">
                <!-- <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    
                  </li> 

                </ul> -->
                <div class="form-inline">
                  <div class="btn-group">
                   <div class="col-sm-12 col-md-6">
                      <select id="skill" class="form-control" style="background-color: #66b3ff; color: black; font-weight: bold;">
						    <option value="SAP SF EC">SAP SF EC</option>
							<option>Select Talent Pool</option>
							<option value="SAP SF Comp">SAP SF Comp</option> 
							<option value="SAP SF LMS">SAP SF LMS</option>							
							<option value="SAP SF PMGM">SAP SF PMGM</option>
							<option value="SAP CPI">SAP CPI</option>                           						
                            <option value="Data Migration">Data Migration</option>  
                      </select> 
                      
                    </div>                    
                  </div>
				  
                  <div class="btn-group">
                   <div class="col-sm-12 col-md-6">                      
                      <select id="dates" class="form-control" style="background-color: #5cd6d6; color: black; font-weight: bold">                       
						<option value="7">Within 7 Days</option>
						<option value="none">Select Date Range</option>						
						<option value="15">Within 15 Days</option>
                        <option value="30">Within 30 Days</option>
                        <!--<option value="none">Select Date</option>
                        <option value="1">Tomorrow</option>
                        <option value="7">Within 7 Days</option>
                        <option value="90">Within 3 Month</option> -->
                      </select> 
                    </div>                    
                  </div>
                  <!-- <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                        <input class="form-control" type="text" readonly />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div> -->
                </div>
              </nav>
            </div>
            <div class="row" style="margin-left: 50%; margin-top: 3%;">
                    <div class="col-md-6 grid-margin">
                      <div class="card bg-gradient-info card-img-holder text-white" style="max-height: 100px;">
                        <div class="card-body" style="padding: 10px">
                          <img src="../static/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                          <h4 class="font-weight-normal mb-3">Total Schedules 
                          </h4>
                          <h2 class="mb-5" id="total">0</h2>
                          <!-- <h6 class="card-text">Increased by 60%</h6> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 stretch-card grid-margin">
                      <div class="card bg-gradient-danger card-img-holder text-white" style="max-height: 100px;">
                        <div class="card-body" style="padding: 10px">
                          <img src="../static/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                          <h4 class="font-weight-normal mb-3">Low Probability 
                          </h4>
                          <h2 class="mb-5" id="totalNoShow">0</h2>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6 stretch-card grid-margin">
                      <div class="card bg-gradient-secondary card-img-holder text-white" style="max-height: 100px;">
                        <div class="card-body" style="padding: 15px; color: black; font-weight: bold;">
                          <img src="../static/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                          <h4 class="font-weight-normal mb-3">High probalility 
                          </h4>
                          <h2 class="mb-5" id="highProbable">0</h2>
                        </div>
                      </div>
                    </div>  
					<div class="col-md-6 stretch-card grid-margin">
                      <div class="card bg-gradient-success card-img-holder text-white" style="max-height: 100px;">
                        <div class="card-body" style="padding: 15px">
                          <img src="../static/images/circle.svg" class="card-img-absolute" alt="circle-image" />
                          <h4 class="font-weight-normal mb-3">Total Confirmed 
                          </h4>
                          <h2 class="mb-5" id="confirm">0</h2>
                        </div>
                      </div>
                    </div>					
                </div>                
                         
                <div class="row" style="display: none;" id="tableDiv">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title float-left"><b>Scheduling List</b></h4>
                      </div>
                      <div class="card-body">
                        <div class="clearfix">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th><b><center> Candidate </b></center></th>
								<th><b><center> Skill </b></center></th>								
                                <th><b><center> Phone </b></center></th> 
								<th><b><center> Gender </b></center></th> 
                                <th><b><center> Scheduler </b></center></th>                                
                                <th><b><center> Interview Date </b></center></th>
                                <th><b><center> Schedule Date </b></center></th>
                                <th><b><center> Job Location</b></center></th>
								<th><b><center> Native Location</b></center></th>
								<th><b><center> Confirmation Status </b></center></th>
                              </tr>
                            </thead>
							<tbody id="tableData">                          
                            </tbody>
                          </table>
                        </div>
                        <!-- <canvas id="visit-sale-chart" class="mt-4"></canvas> -->
                      </div>
                    </div>
                  </div>              
                </div>

					<div class="row">
                        <!-- <div class="col-md-5">
                           <div id="container1"></div>
                        </div> -->
                        <div class="col-md-12">
                           <div id="container2"></div>
                        </div>
                    </div>    
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="../static/js/calender.js"></script>
    <script src="../static/js/vendor.bundle.base.js"></script>    
    <script src="../static/js/misc.js"></script>  
    <script type="text/javascript" src="../static/js/home.js?v=2018"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    

     <script type="text/javascript">
      var previous = null;
      var current = null;
      setInterval(function() {
          $.getJSON("../static/json/JSON_Data.json", function(json) {
              current = JSON.stringify(json);            
              if (previous && current && previous !== current) {
                  console.log('refresh');
                  location.reload(true);
              }
              previous = current;
          });                       
      }, 2000);   
     </script>
  </script>
        <script type="text/javascript">
        document.onkeydown = function (cc) {
        if(cc.which == 85){
        return false;
        }
        }
    </script>
    <script>jQuery(document).ready(function(){
        jQuery(function() {
        jQuery(this).bind("contextmenu", function(event) {
            event.preventDefault();
            alert('Right click disable in this site!!')
        });
        });
        });
    </script>
  </body>
</html>
